astroid==2.3.3
atomicwrites==1.3.0
attrs==19.3.0
autopep8==1.4.4
beautifulsoup4==4.8.1
blis==0.4.1
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
Click==7.0
coloredlogs==10.0
cryptography==2.8
cymem==2.0.3
dateparser==0.7.2
en-core-web-sm==2.2.0
ffmpeg==1.4
ffmpeg-python==0.2.0
future==0.18.2
gTTS==2.0.4
gTTS-token==1.1.3
humanfriendly==4.18
idna==2.8
importlib-metadata==0.23
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
more-itertools==7.2.0
murmurhash==1.0.2
numpy==1.17.4
packaging==19.2
plac==0.9.6
pluggy==0.13.1
preshed==3.0.2
py==1.8.0
pycodestyle==2.5.0
pycparser==2.19
pylint==2.4.4
pyparsing==2.4.5
pytest==5.2.1
python-dateutil==2.8.1
python-telegram-bot==11.1.0
pytz==2018.9
regex==2019.11.1
requests==2.22.0
shortuuid==1.0.1
six==1.13.0
soupsieve==1.9.5
spacy==2.2.1
srsly==0.2.0
thinc==7.1.1
tqdm==4.39.0
typed-ast==1.4.0
tzlocal==2.0.0
urllib3==1.25.7
wasabi==0.4.0
wcwidth==0.1.7
wrapt==1.11.2
zipp==0.6.0
