{% extends "base.html" %} {% block title %}Bakchod Details{% endblock %} {%
block head %} {{ super() }} {% endblock %} {% block content %}
<div class="container-lg">
  <br />
  <nav>
    <ul class="breadcrumb">
      <li class="breadcrumb-item active">
        <a>bakchod-details</a>
      </li>
      <li class="breadcrumb-item" aria-current="page">
        <a href="/chaddi/details/bakchod?tg_id={{bakchod.tg_id}}"
          >{{bakchod.tg_id}}</a
        >
      </li>
    </ul>
  </nav>
  <br />

  {% if response_message %}
  <div class="alert {{response_message.alert_type}}" role="alert">
    <h4 class="alert-heading">{{response_message.title}}</h4>
    {{response_message.message}}
  </div>
  {% endif %}

  <h1>{{bakchod.pretty_name}}</h1>

  <table class="table">
    <tbody>
      <tr>
        <th class="text-right">TG ID:</th>
        <td class="text-left">{{bakchod.tg_id}}</td>
      </tr>
      <tr>
        <th class="text-right">Username:</th>
        <td class="text-left">{{bakchod.username}}</td>
      </tr>
      <tr>
        <th class="text-right">Created:</th>
        <td class="text-left">{{bakchod.created}}</td>
      </tr>
      <tr>
        <th class="text-right">Updated:</th>
        <td class="text-left">{{bakchod.updated}}</td>
      </tr>
      <tr>
        <th class="text-right">Rokda:</th>
        <td class="text-left">{{bakchod.rokda}}</td>
      </tr>
      <tr>
        <th class="text-right">Metadata:</th>
        <td class="text-left">{{bakchod.metadata}}</td>
      </tr>
    </tbody>
  </table>

  <h3>Metadata</h3>

  <form method="POST" action="/chaddi/api/bakchod/metadata">
    <input type="hidden" name="tg_id" value="{{bakchod.tg_id}}" />
    <input
      class="form-control"
      type="text"
      id="metadata"
      name="metadata"
      value="{{bakchod.metadata}}"
    /><br />
    <input class="btn btn-primary" type="submit" value="Update Metadata" />
    <br />
  </form>
</div>
{% endblock %}
