{% extends "base.html" %} {% block title %}Bakchod Details{% endblock %} {%
block head %} {{ super() }} {% endblock %} {% block content %}
<script defer src="/chaddi/static/details_bakchod.js"></script>
<div class="container-lg">
  <br />
  <nav>
    <ul class="breadcrumb">
      <li class="breadcrumb-item">details</li>
      <li class="breadcrumb-item">
        <a href="/chaddi/bakchods">bakchods</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{bakchod.tg_id}}
      </li>
    </ul>
  </nav>
  <br />

  {% if response_message %}
  <div class="alert {{response_message.alert_type}}" role="alert">
    <h4 class="alert-heading">{{response_message.title}}</h4>
    {{response_message.message}}
  </div>
  {% endif %}

  <h1>{{bakchod.pretty_name}}</h1>

  <table class="table">
    <tbody>
      <tr>
        <th class="text-right">TG ID:</th>
        <td class="text-left">{{bakchod.tg_id}}</td>
      </tr>
      <tr>
        <th class="text-right">Username:</th>
        <td class="text-left">{{bakchod.username}}</td>
      </tr>
      <tr>
        <th class="text-right">Created:</th>
        <td class="text-left">{{bakchod.created}}</td>
      </tr>
      <tr>
        <th class="text-right">Updated:</th>
        <td class="text-left">{{bakchod.updated}}</td>
      </tr>
      <tr>
        <th class="text-right">Rokda:</th>
        <td class="text-left">
          <input
            id="tg-id"
            type="hidden"
            name="tg-id"
            value="{{bakchod.tg_id}}"
          />
          <div class="form-group">
            <input
              id="rokda-input"
              name="rokda"
              type="text"
              class="form-control"
              placeholder="{{bakchod.rokda}}"
              required="required"
              value="{{bakchod.rokda}}"
            />
          </div>
          <input
            id="update-rokda-button"
            class="btn btn-primary"
            type="submit"
            value="Update Rokda"
          />
        </td>
      </tr>
      <tr>
        <th class="text-right">Metadata:</th>
        <td>
          <div class="form-group">
            <textarea
              class="form-control"
              id="metadata-textarea"
              name="metadata"
              type="text"
              required="required"
            >
{{bakchod.metadata | tojson_pretty}}</textarea
            >
          </div>
          <input
            id="update-metadata-button"
            class="btn btn-primary"
            type="submit"
            value="Update Metadata"
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
