{% extends "base.html" %} {% block title %}Group Details{% endblock %} {% block
head %} {{ super() }} {% endblock %} {% block content %}
<div class="container-lg">
  <br />
  <nav>
    <ul class="breadcrumb">
      <li class="breadcrumb-item">details</li>
      <li class="breadcrumb-item">
        <a href="/groups">groups</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{group.group_id}}
      </li>
    </ul>
  </nav>
  <br />
  <h1>{{group.name}}</h1>

  {% if response_message %}
  <div class="alert {{response_message.alert_type}}" role="alert">
    <h4 class="alert-heading">{{response_message.title}}</h4>
    {{response_message.message}}
  </div>
  {% endif %}

  <table class="table">
    <tbody>
      <tr>
        <th class="text-right">ID:</th>
        <td class="text-left">{{group.group_id}}</td>
      </tr>
      <tr>
        <th class="text-right">Created:</th>
        <td class="text-left">{{group.created}}</td>
      </tr>
      <tr>
        <th class="text-right">Updated:</th>
        <td class="text-left">{{group.updated}}</td>
      </tr>
      <tr>
        <th class="text-right">Members:</th>
        <td class="text-left">{{groupmembers|length}}</td>
      </tr>
      <tr>
        <th class="text-right">Messages:</th>
        <td class="text-left">
          {{message_count}}
          <a
            href="/details/messages?group_id={{group.group_id}}"
            class="btn btn-primary"
            role="button"
            >View</a
          >
        </td>
      </tr>
    </tbody>
  </table>

  <h3>Message</h3>

  <form method="POST" action="/api/bot/send_message">
    <input type="hidden" name="group_id" value="{{group.group_id}}" />
    <input class="form-control" type="text" name="message" value="" /><br />
    <input
      class="btn btn-primary"
      type="submit"
      value="Send Message to Group"
    />
    <br />
  </form>

  <br />
  <br />
  <br />

  <h3>Group Members</h3>

  <table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>username</th>
        <th>pretty_name</th>
        <th>rokda</th>
        <th>lastseen</th>
      </tr>
    </thead>
    <tbody>
      {% for groupmember in groupmembers %}
      <tr>
        <th>{{groupmember.bakchod.tg_id}}</th>
        <td>{{groupmember.bakchod.username}}</td>
        <td>{{groupmember.bakchod.pretty_name}}</td>
        <td>{{groupmember.bakchod.rokda}}</td>
        <td>{{groupmember.bakchod.lastseen}}</td>
        <td>
          <a
            href="/details/bakchod?tg_id={{groupmember.bakchod.tg_id}}"
            class="btn btn-primary"
            role="button"
            >View Details</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
