{% extends "base.html" %} {% block title %}Index{% endblock %} {% block head %}
{{ super() }} {% endblock %} {% block content %}
<div class="container-md">
  <div class="card">
    <h2 class="card-title">Welcome to chaddi-tg!</h2>
  </div>

  <div class="card">
    <h2 class="card-title">System Stats</h2>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm">
          <h2>{{bakchods_count}}</h2>
          Bakchods
        </div>
        <div class="col-sm">
          <h2>{{groups_count}}</h2>
          Groups
        </div>
        <div class="col-sm">
          <h2>{{messages_count}}</h2>
          Messages
        </div>
        <div class="col-sm">
          <h2>{{quotes_count}}</h2>
          Quotes
        </div>
        <div class="col-sm">
          <h2>{{roll_count}}</h2>
          Rolls
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
