{% extends "base.html" %} {% block title %}Messages{% endblock %} {% block head
%} {{ super() }} {% endblock %} {% block content %}
<div class="container-lg">
  <h1>Messages</h1>

  <table class="table">
    <thead>
      <tr>
        <th>pk</th>
        <th>time_sent</th>
        <th>message_id</th>
        <th>from_bakchod</th>
        <th>to_id</th>
        <th>text</th>
      </tr>
    </thead>
    <tbody>
      {% for message in messages %}
      <tr>
        <th>{{message.id}}</th>
        <td>{{message.time_sent}}</td>
        <th>{{message.message_id}}</th>
        <td>{{message.from_bakchod.username}}</td>
        <td>{{message.to_id}}</td>
        <td>{{message.text}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
