<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>username</th>
      <th>pretty_name</th>
      <th>rokda</th>
      <th>lastseen</th>
      <td>details</td>
    </tr>
  </thead>
  <tbody>
    {% for bakchod in bakchods %}
    <tr>
      <th>{{bakchod.tg_id}}</th>
      <td>{{bakchod.username}}</td>
      <td>{{bakchod.pretty_name}}</td>
      <td>{{bakchod.rokda}}</td>
      <td>{{bakchod.lastseen}}</td>
      <td>
        <a
          href="/chaddi/details/bakchod?tg_id={{bakchod.tg_id}}"
          class="btn btn-primary"
          role="button"
          >View Details</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
