# Bot Username
bot_username = "ChaddiBot"

# Telegram Bot API Token
tg_bot_token = "YOUR-TG-BOT-API-TOKEN-HERE"

# Telegram Webhook URL
tg_webhook_url = "https://chaddibot.com/"

# Whether runnning as dev or not
is_dev = True

# Choose which Text to Speech Engine to use.
tts_engine = "gTTS" # Google TTS

# ID of users who are allowed to acts admins.
allowed_setters = []