# Bot Username
bot_username = "ChaddiBot"

# Telegram Bot API Token
tg_bot_token = "YOUR-TG-BOT-API-TOKEN-HERE"

# Connectivity to Telegram via Webhook.
# Delete if webhooks are not setup.
tg_webhook_url = "https://chaddibot.com/"

# Choose which Text to Speech Engine to use.
tts_engine = "gTTS" # Google TTS

# ID of users who are allowed to acts admins.
allowed_setters = []